{% extends 'base.html.twig' %}

{% block title %}Intervenant index{% endblock %}

{% block body %}
    <h1>Intervenant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervenant in intervenants %}
            <tr>
                <td>{{ intervenant.id }}</td>
                <td>{{ intervenant.name }}</td>
                <td>{{ intervenant.lastName }}</td>
                <td>{{ intervenant.age }}</td>
                <td>
                    <a href="{{ path('intervenant_show', {'id': intervenant.id}) }}">show</a>
                    <a href="{{ path('intervenant_edit', {'id': intervenant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('intervenant_new') }}">Create new</a>
{% endblock %}
