{% extends 'base.html.twig' %}

{% block title %}Intervenant{% endblock %}

{% block body %}
    <h1>Intervenant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervenant.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ intervenant.name }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ intervenant.lastName }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ intervenant.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('intervenant_index') }}">back to list</a>

    <a href="{{ path('intervenant_edit', {'id': intervenant.id}) }}">edit</a>

    {{ include('intervenant/_delete_form.html.twig') }}
{% endblock %}
