{% extends 'base.html.twig' %}

{% block title %}Hello GestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <a href="/course">Course</a><br>
    <a href="/project">Project</a><br>
    <a href="/student">Student</a><br>
    <a href="/intervenant">Intervenant</a>
</div>
{% endblock %}
